.formulario
{
    margin: 1%;
    width: 600px;
    color: #0075acfd;
    border: 2px solid #87f0e4;
    background-color: #d4fcf9;
}

body
{
    color: black;
    
}

#color
{
    border: 1px solid #a8d3da;
    width: 450px;
}

.sombra 
{
    /* box-shadow: 5px 5px 15px gray ; */
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

#logodiv
{
    width:50px ;
    height: 50px;
}

#nuevo
{
   margin-left: 35px;
}

#lista
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#boton
{
    width: 27% ;
    height: 7%;
}

#link
{
    margin: 3%;
    margin-left: 6.5%;
}

#salir
{
    width: 15% ;
    height: 7%;
    margin-left: 82.5%;
}